.header-wrapper {
  background-color: #fff;
  border-bottom: 2px solid #f1f2f4;
}

.header {
  padding: 10px 0;
  max-width: 1180px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  //vertical-align: bottom;
  font-family: "Indie Flower", cursive;
  color: #004d00;
  font-size: 40px;
  width: 400px;
  //height: 45px;
  margin: 0;
  text-align: center;
}

.button__report {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  width: 130px;
  background-color: #e2e6e9;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-family: "Indie Flower", cursive;
  margin-right: 30px;
  margin-left: 450px;
  cursor: pointer;
}

.button__add {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  width: 130px;

  background-color: green;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  color: #fff;
  cursor: pointer;
  font-family: "Indie Flower", cursive;
  text-decoration: none;
}

.navigation {
  display: inline-block;
  vertical-align: baseline;
  width: 250px;
  margin-right: 40px;
  margin-left: 350px;
}

.expenses {
  display: inline-block;
  vertical-align: baseline;
  min-width: 100px;
  padding: 5px;
  background-color: #e2e6e9;
  text-align: center;
  font-size: 20px;
  color: #373c49;
  border: 2px solid #99a0b2;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.profits {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 25px;
  min-width: 100px;
  padding: 5px;
  background-color: #e2e6e9;
  text-align: center;
  font-size: 20px;
  color: #373c49;
  border: 2px solid #99a0b2;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
