.report-wrapper {
  margin: 30px auto;
  max-width: 1180px;
  background-color: #fff;
  border: 1px solid #e2e4e9;
  padding: 15px;
}

.upravlenie {
  display: inline-block;
  min-width: 364px;
  height: 50px;
  margin-left: 250px;
  vertical-align: bottom;
  padding-top: 10px;
}

.right-arrow {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 5px;
}

.right-arrow:hover {
  background-color: #777;
  stroke: white;
  //background-color: rgba(96, 106, 117, 0.1);
}

.date {
  display: inline-block;
  position: relative;
  top: -10px;

  width: 300px;

  text-align: center;
  font-size: 22px;
  color: #282e33;
  font-family: Arial, Helvetica, sans-serif;
}
