@import "../header/header.scss";
@import "../add/add.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #f6f7f8;

  font-size: 18px;
  font-weight: bold;
}
